{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
{# 
<section>
<div class="panier-container">
<div class=""></div>
</div>
</section> #}

<nav>
<div class="navbar">

<ul>

    <li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="panier bi bi-bag text-white" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg> </li>

</ul>
<div class="navbar-main"><img id="img-nav" src="/image/logo-MK.png" height="50"></div>


</div>
</nav>
<br>


<table class="table table-dark panier ">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      
      
      
      <th scope="col">Quantité</th>
      
      <th scope="col">Prix</th>

    </tr>
  </thead>
  <tbody>
  {# {% for annonce in PanierProduct %} #}
   
    <tr>
      {# <td >  {{annonce.product.title}}  #}
      {# <br><img src="{{asset('uploads/images/' ~ annonce.product.images)}} " width="100" height="150"> #}
      
      </td>
  
 
      {# <td> <a href="{{path("panier_add", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-light" viewBox="0 0 16 16"> #}
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></a> 
      {# {{annonce.qty}} #}
{# <a href="{{path("panier_less", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-light" viewBox="0 0 16 16"> #}
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
</svg></a>
{# <a href="{{path('panier_supprimer', {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="text-danger " viewBox="0 0 16 16"> #}
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a></td>



      {# <td>{{annonce.product.price|price}}</td> #}
{# <td>{{annonce.qty}}

 </td>      #}
      
      
    </tr>
  {# {% endfor %} #}
   
   <tr>
   <td colspan="2">Total: </td>
   {# <td> {{total|price}}</td> #}
    </tr>
  </tbody>
</table>

{# {% if PanierProduct != [] %} #}
<div class=" text-center bd-highlight">
{# <a href="{{path('invoice_new')}}" class="  btn btn-dark bg-dark p-2 " >Commander</a> #}
</div>



{% endblock %}
