{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<br>
<br>
{# <h3 class="text-center">Panier</h3>


<table class="table table-dark panier ">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      
      
      
      <th scope="col">Quantité</th>
      
      <th scope="col">Prix</th>

    </tr>
  </thead>
  <tbody>
  {% for annonce in PanierProduct %}
   
    <tr>
      <td >  {{annonce.product.title}} 
      <br><img src="{{asset('uploads/images/' ~ annonce.product.images)}} " width="100" height="150">
      
      </td>
  
 
      <td> <a href="{{path("panier_add", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-light" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></a> 
      {{annonce.qty}}
<a href="{{path("panier_less", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-light" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
</svg></a>
<a href="{{path('panier_supprimer', {'product': annonce.product.id}) }}"><button>Retirer l'article </button> </a></td>



      <td>{{annonce.product.price|price}}</td>
<td>{{annonce.qty}}

 </td>     
      
      
    </tr>
  {% endfor %}
   
   <tr>
   <td colspan="2">Total: </td>
   <td> {{total|price}}</td>
    </tr>
  </tbody>
</table>

{% if PanierProduct != [] %}
<div class=" text-center bd-highlight">
<a href="{{path('invoice_new')}}" class="  btn btn-dark bg-dark p-2 " >Commander</a>
</div>

<br>

{% endif %} #}


{# <main class="container text-center">
    <div class="basket container">
      <div class="basket-module">
        <label for="promo-code">Entrer un code promo</label>
        <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
        <button class="promo-code-cta btn btn-dark">Appliquer</button>
      </div>
      
      <div class="basket-product">
      {% for annonce in PanierProduct %}
        <div class="item">
          <div class="product-image">
            <img src="{{asset('uploads/images/' ~ annonce.product.images)}} " class="product-frame"> 
          </div>
          <div class="product-details">
            <h4>{{annonce.product.title}}</h4>
            <h6>{{annonce.product.content}} </h6>
          </div>
        </div>
        
        <div class="quantity" class="quantity-field">
<a href="{{path("panier_less", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
</svg></a>
      {{annonce.qty}}
       <a href="{{path("panier_add", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></a> 
        </div>
        <div class="subtotal">{{annonce.product.price|price}}</div>
        <div class="remove">
          <a href="{{path('panier_supprimer', {'product': annonce.product.id}) }}"><button>Retirer l'article</button></a>
        </div>
        </div>

      

      
      
   
    {% endfor %}
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Articles dans votre panier</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Sous-total</div>
          <div class="subtotal-value final-value" id="basket-subtotal">{{total|price}}</div>
         <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
          </div>
          
        
        
        
      
       
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">{{total|price}}</div>
        </div>
      {% if PanierProduct != [] %}
        <div class="summary-checkout ">
          <a href="{{path('invoice_new')}} " ><button class="btn btn-dark"><h6 > Commander</h6>  </button></a>
        </div>
        
      </div>
      {% endif %}
    </aside>
      
  </main>

  #}
 <main>
    <div class="basket">
      <div class="basket-module">
        <label for="promo-code">Enter code promo</label>
        <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
        <button class="promo-code-cta">Appliquer</button>
      </div>
     
     {% for annonce in PanierProduct %}
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{asset('uploads/images/' ~ annonce.product.images)}} " class="product-frame">
          </div>
          <div class="product-details">
            <h4>{{annonce.product.title}}</h4>
            <h6>{{annonce.product.content}}</h6>
          </div>
        </div>
        
        <div class="quantity">
         <a href="{{path("panier_less", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
</svg></a>
      {{annonce.qty}}
       <a href="{{path("panier_add", {'product': annonce.product.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></a> 
        </div>
        <div class="subtotal">{{annonce.product.price|price}}</div>
        <div class="remove">
         <a href="{{path('panier_supprimer', {'product': annonce.product.id}) }}"><button>Retirer l'article</button></a>
        </div>
      </div>
     {% endfor %}

    </div>
    <aside>
    
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Prix total des articles</div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Sous-total</div>
          <div class="subtotal-value final-value" id="basket-subtotal">{{total|price}}</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
       
        <div class="summary-total">
        {% if PanierProduct != [] %}
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">{{total|price}}</div>
        </div>
        <div class="summary-checkout">
          
           <a href="{{path('invoice_new')}} " ><button class="checkout-cta btn btn-dark"><h6 > Commander</h6>  </button></a>
      
        </div>
      </div>
    </aside>
       {% endif %}
  </main>



{% endblock %}
