{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}


<br>

<main>

<div class=" publication-container row-cols-md-1 g-4 ">
{% for annonce in annonces %}
<div class="publication row-cols-md-1 g-4 border border-4">
<div class="responsive">
<img class=" img-fluid border border-2" src="{{asset('uploads/images/' ~ annonce.images)}}" alt="image" ><br>
</div>
<br>
<div class="art-title">
<div class=" text-dark "><h5>{{annonce.title}}</h5></div>
</div>
<br>
 <h6><a class="button-achat "  href="{{path('panier_add', {'product': annonce.id}) }}">Ajouter au Panier </a></h6> 
        <br>
        

<div class=" fw-bolder text-start"><h5>Catégorie : {{annonce.categories}}</h5></div>


<div class="fw-bolder text-start "><h6>{{annonce.content|raw}} </h6></div>

<br>

<div class=" text-dark "><h5>Prix:{{annonce.price|price}}</h5></div>




</div>



 {% endfor %}

</div>
</main>
<br>



{% endblock %}
