{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

<h1 class="text-center">Commande</h1>


<table class="table table-striped panier ">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      
      
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>

    </tr>
  </thead>
  <tbody>
  {% for annonce in purchases %}
   
    <tr>
      <td>{{annonce.product.title}}   </td>
  
        <td>{{annonce.quantity}}</td>
      <td> {{annonce.UnitPrice|price}}</td>
      

     
      
      
    </tr>
  {% endfor %}
   
   <tr>
   <td colspan="2">Total:  </td>
   <td> {{invoice.totalprice|price}}</td>
    </tr>
  </tbody>
</table>


<h2>Adresse de livraison de la commande :</h2>
<div class="panier">
<p>{{invoice.firstname}} {{invoice.name}}</p>
<p>{{invoice.adress}}</p>
<p>{{invoice.town}} {{invoice.postCode}}</p>
<p>{{invoice.country}}</p>

<h3>Statut: Payé <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
</svg></h3>

</div>
{% endblock %}