{% extends 'base.html.twig' %}


{% block title %}Ajouter une article{% endblock %}




    {% block body %}
   
  
<br>

    <h1 class="text-center ">Ajouter un article</h1>
    <div >
    {{ form_start(form) }}
    <div class="row">
    <div class="col">
      {{ form_row(form.title) }}
    </div>
    <br>
    <div class="col">
    {{ form_row(form.categories) }}
    </div>
    </div>
    <br>
    {{ form_row(form.content) }}

     {% if form.vars.value.images != "" %}
      
       <img class="img-size-little" src="/uploads/images{{ form.vars.value.images }}" >
     {% endif %}
    {{ form_row(form.images) }}
    <br>
    {{ form_row(form.price)}}
     {{ form_end(form) }}
      </div>
     {% endblock %}